<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o email {{ email }}</p>
<p>Utilize o seguinte Token {{ token }}</p>
<a href="{{ link }}">Ou clique aqui</a>